/* CSS DOCUMENT */

body{
	background-color:black;
	overflow-x:hidden;
	overflow-y:hidden;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	font-family: 'Inconsolata', sans-serif;
	font-size: 15;
}
::selection { background: transparent; }
::-moz-selection { background: transparent; }

#contentWrapper{
	text-align:center;
	background-color: #000000;
	/*width:308px;*/
	width:70%;
	height:70%;
	overflow-x:hidden;
	overflow-y:hidden;
	margin:auto;
	position:absolute;
	top:0;left:0;bottom:0;right:0;
	min-width: 1019px;
	min-height: 200px;
	/*box-shadow: 10px 10px 5px black;*/
}

.window{
	position:relative;
	text-align:left;
	display:inline-block;
	height:99%;
	color:white;
	margin:0px auto;
	padding:0;
	/*border:1px solid;*/
	white-space:nowrap;
	overflow:hidden;
}
#buttons{
	text-align:center;
	width:11%;
}
#status{
	width:24%;
}
#main{
	height:75%;
	width:63%;
	bottom:25%;
	font-size: 13;
}
#mainGradient{
	/*background:linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) repeat scroll 0% 0% transparent;*/
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

	position:absolute;
	/*border: 1px solid;*/
	height: 75%;
	width: 63%;
	bottom: 25%;
	margin-left: 11%;
	z-index: 5;
}

.button{
	line-height:30px;
	text-align:center;
	white-space:nowrap;
	width:100px;
	height:30px;
	border: 1px solid;
	margin: 0px auto;
	margin-top: 4px;
	margin-bottom: 4px;
	display:none;
	position:relative;
}
.button:hover{
	cursor:pointer;
}

.progress{
    width:0px;
    height:100%;
    display:inline-block;
    position:absolute;
    background:silver;
    left:0px;
    top:0px;
    opacity:.3;
}

#deleteSaveButton{
	position:absolute;
	text-align: left;
	margin-left: 2px;
	bottom:0;
	display:none;
}

.red{
	color: red;
}
.blue{
	color: blue;
}
.gray{
	color: gray;
}

red{
	color: red;
}
orange{
	color: orange;
}
gray{
	color: gray;
}
green{
	color: green;
}
silver{
	color: silver;
}
brown{
	color: brown;
}